pie {
    --pieFillColor: greenyellow;
    width: 2ch;
    height: 2ch;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--pieFillColor);
    border: 0.1ch solid var(--pieFillColor);
    margin-left: 0.2ch;
    margin-top: 0.2ch;
    transform: translateY(15%);
}

pie.ten {
    background-image: linear-gradient(126deg, transparent 50%, var(--pieBackground) 50%),
        linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

pie.oneThird {
    background-image: linear-gradient(210deg, transparent 50%, var(--pieBackground) 50%),
        linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

pie.twentyfive {
    background-image: linear-gradient(180deg, transparent 50%, var(--pieBackground) 50%),
        linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

pie.fifty {
    background-image: linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

pie.twoThirds {
    background-image: linear-gradient(120deg, transparent 50%, var(--pieFillColor) 50%),
        linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

/* Slices greater than 50% require first gradient
   to be transparent -> green */

pie.seventyfive {
    background-image: linear-gradient(180deg, transparent 50%, var(--pieFillColor) 50%),
        linear-gradient(90deg, var(--pieBackground) 50%, transparent 50%);
}

pie.onehundred {
    background-image: none;
}
