html,
body {
}

#frontPage,
#projects,
#skills,
#skills h4,
#freetime {
    scroll-snap-align: start;
}

.snapping {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    max-height: 98vh;
    overflow-y: scroll;
    scroll-padding-top: 13vh;
}
