*{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  overflow: visible;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1{
  font-size: 10vw;
  font-style: bold;
  margin-top: 30vh;
}

.center{
  text-align: center;
  float: center;
  position: relative;
}

.darkmode {
  background-color:#252525;
  color: #f6f6f6;
  fill: #f6f6f6;
}

.lightmode {
  background-color: #f6f6f6;
  color: black;
  fill: black;
}

#connectives{
  margin-top: 3rem;
}

.connections{
  width: 10%;
  height: 10%;
  margin: 1vw;
}

#github:hover{
  fill: url(#githubDesktopGrad);
  stroke-width: 0.7px;
  stroke-linejoin: round;
}

#github.darkmode:hover{
  stroke: white;
}

#github.lightmode:hover {
  stroke: #303030;
}

#youtube:hover{
  fill: red;
}

#twitter:hover{
  fill: #1DA1F2;
}

#mail.darkmode:hover{
  fill: black;
}

#mail.lightmode{
  fill: black;
}

#mail.lightmode:hover{
  fill: darkgrey;
}

#twitch:hover{
  fill: #9147FF;
}

#website:hover{
  fill: grey;
}

#contact{
  stroke: white;
}

#contact.darkmode:hover{
  stroke: darkgray;
}

#contact.lightmode{
  stroke: black;
}

#contact.lightmode:hover{
  stroke: darkgray;
}