#connectives {
    margin-top: 3vh;
}

.connections {
    width: 10%;
    height: 10%;
}

#github:hover {
    fill: url(#githubDesktopGrad);
    stroke-width: 0.7px;
    stroke-linejoin: round;
}

#contact {
    fill: white;
}

.darkmode #contact:hover {
    fill: darkgray;
}

.lightmode #contact {
    fill: black;
}

.lightmode #contact:hover {
    fill: darkgray;
}

.darkmode #mt32_logo {
    filter: brightness(100)
}

.lightmode #mt32_logo {
    filter: brightness(0)
}

#mt32_logo:hover {
    filter: brightness(1)
}

#projects:hover {
    fill: gold;
}
